@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700,400);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

html, body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  color: rgb(39, 39, 39);
  line-height: 21px;
  background-color: rgb(255, 255, 255);
}

body {
  overflow-y: scroll;
}

::selection { 
  background-color: rgb(199, 38, 41);
  color: rgb(255, 255, 255);
}

a {
  color: rgb(199, 38, 41);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  margin: 0;
}

h1 span:nth-child(2) {
  color: rgb(199, 38, 41);
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
}

h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(199, 38, 41);
  font-size: 36px;
  margin: 16px 0px;
}

h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 16px 0px;
  font-size: 24px;
}

h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 8px 0px;
  font-size: 22px;
  display: inline-block;

}

div.site {
  width: 880px;
  margin: 0 auto;
  padding: 21px 40px;
}

hgroup {
  display: inline-block;
  margin: 16px 40px;
}

header {
  background-color: rgb(239, 239, 237);
}

header > .site {
  padding: 0px;
  width: 960px;
}

header nav {
  display: inline-block;
  vertical-align: top;
  float: right;
  line-height: 18px;
  margin: 0px 40px;
}

header nav a {
  color: rgb(39, 39, 39);
  text-decoration: none;
  padding: 2px 4px 2px 4px;
  display: inline-block;
}

header nav a:hover {
  color: rgb(199, 38, 41);
  text-decoration: none;
}

header nav a.active {
  border-bottom: 2px solid rgb(199, 38, 41);
}

section.explanation {
  background-color: rgb(40, 40, 40);
  color: rgb(202, 202, 202);
}

section.page {
  display: block; 
  min-height: 1024px;
}

section.page header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 21px;
  
}

section.page header > hr {
  margin: 0 auto;
  background-color: rgb(239, 239, 237);
  height: 1px;
  border: 0;
}

section.page header > div {
  height: 4px;
  width: 32px;
  background-color: rgb(199, 38, 41);
}

section.page nav {
  width: 270px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

section.page section.example {
  width: 580px; 
  display: inline-block;
  margin: 16px 0px;
  padding: 0px;
}

section.page section {
  display: inline-block;
  width: 580px;
}

footer {
  background-color: rgb(40, 40, 40);
  padding: 8px 40px;
  color: rgb(202, 202, 202);
}

footer span:nth-child(2) {
  float: right;
}

table {
  border-top: 1px solid rgb(239, 239, 237);
  border-left: 1px solid rgb(239, 239, 237);
  width: 580px;
}

td {
  border-right: 1px solid rgb(239, 239, 237);
  border-bottom: 1px solid rgb(239, 239, 237);
  padding: 4px 8px;
}

pre {
  background-color: rgb(239, 239, 237);
  padding: 16px 16px;
  margin: 0px;
  border-radius: 8px;
}

pre a { 
  float: right;
}

code {
  font-size: 12px;
  line-height: 14px;
}

code span.var, span.function, span.this, span.new, span.type, span.true, span.false, span.instanceof, span.return, span.if, span.throw, span.try, span.catch {
  color: rgb(38, 40, 192);
}

code span.string {
  color: rgb(192, 112, 38);
}

code span.comment {
  color: rgb(153, 153, 153);
}

p.version {
  font-size: 16px;
}

a.red-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(199, 38, 41);
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 40px 8px 40px;
  margin: 10px 10px 10px 0px;
  display: inline-block;
}

a.red-button:hover {
  background-color: rgba(199, 38, 41, 0.9);
}

a.grey-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(84, 84, 84);
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 40px 8px 40px;
  margin: 10px 0px;
  display: inline-block;
}

a.grey-button:hover {
  background-color: rgba(84, 84, 84, 0.9);
}

nav ul { 
  margin: 16px 0px;
  padding-left: 24px;
}

nav ul li {
  padding: 0;
}

nav ul.explore {
  margin: 16px 0px;
  padding: 0px;
  margin-right: 16px;
}

nav ul.explore li {
  list-style-type: none; 
  padding: 0px;
  margin: 0px;
  height: 48px;
  border-top: 1px solid rgb(239, 239, 237);
  background-position: 4px 11px; 
  line-height: 16px;
  padding: 0px 40px;
}

nav ul.explore li.home {
  background-image: url('images/home.png'); 
  background-repeat: no-repeat;
}

nav ul.explore li.about {
  background-image: url('images/about.png'); 
  background-repeat: no-repeat;
}

nav ul.explore li.download {
  background-image: url('images/download.png'); 
  background-repeat: no-repeat;
}

nav ul.explore li.documentation {
  background-image: url('images/documents.png'); 
  background-repeat: no-repeat;
}

nav ul.explore li.examples {
  background-image: url('images/file.png'); 
  background-repeat: no-repeat;
}

nav ul.explore li.source-code {
  background-image: url('images/github.png'); 
  background-repeat: no-repeat;
}

nav ul.explore li.blog {
  background-image: url('images/blog.png'); 
  background-repeat: no-repeat;
}

nav ul.explore li.contacts {
  background-image: url('images/contacts.png'); 
  background-repeat: no-repeat;
}

nav ul.explore a {
  text-transform: uppercase; 
  display: block;
  margin-top: 8px;
}

nav ul.explore span {
  display: block;
  color: rgb(84, 84, 84);
  font-size: 12px;
}
